/* se añade estilos a las card */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid #374151;
  background-color: #1f2937;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
/* se añade hover */
.card:hover {
  transform: scale(1.05);
  background-color: #4b6595;
}
picture {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
img{
  width: 100%;
  height: auto;
}
.content{
  text-align: left;
  padding-left: 20px;
}